Source: python-statsd
Maintainer: Rob Terhaar <rob@atlanticdynamic.com>
Section: python
Priority: optional
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7.3), python-support (>= 1.0.3), python, python-setuptools
XS-Python-Version: >= 2.6
Vcs-Git: https://github.com/sivy/py-statsd
Vcs-Browser: https://github.com/sivy/py-statsd
Homepage: https://github.com/sivy/py-statsd

Package: python-statsd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-argparse
XB-Python-Version: ${python:Versions}
Description: Statsd, in python
